* {
    box-sizing: border-box;
}

body {
    background-image: url("images/liliybackgrond.jpg");
    /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 14 */
h1 {
    font-size: 20px;
    text-align: center;
}

/* line 17 */
h2 {
   font-size: 16px;
   text-align: center;
}

/* all of paragraphs */
p {
    font-size: 14px;
    text-align: center;
}

/* startpage */
.startpage {
    background-color: rgba(255, 255, 255, .3);
    display: block;
}

/* project page */
.projectspage {
    background-color: rgba(255, 255, 255);
    margin-left: -8px;
    margin-right: -8px;
}


/* quizimg */
.quizappimg {
    display: block;
    float: left;
    padding:10px;
}

/* quiz container */
.container1 {
    position: relative;
    width: 50%;
    display: flex;
    justify-items: flex-start;
}

/* quiz overlay */
.overlay1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .8);
    overflow: hidden;
    height: 0;
    transition: .5s ease;
}

.container1:hover .overlay1 {
    height: 100%;
}

/* text for quiz overlay */
.text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: teal;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}