* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(240, 239, 235);
}

.link {
    font-family: 'Ranchers', cursive;
    font-size: 20px;
}

.repo {
    font-size: 25px;
}

/* homepage for index.html */
.homepage {
    background-image: url("images/background.jpg"); 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:500px 800px;
    font-family: 'Quicksand', sans-serif; 
    background-color: rgb(240, 239, 235);
}

/* line 14 */
h1 {
    font-size: 20px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

/* line 17 */
h2 {
   font-size: 20px;
   text-align: center;
   font-family: 'Pacifico', cursive;
}

/* all of paragraphs */
p {
    font-size: 14px;
    text-align: center;
}

/* startpage */
.startpage {
    background-color: rgba(255, 255, 255, .3);
    display: block;
    padding: 10px;
    margin-left:-8px;
    margin-right: 10px;
    height: 60vh;
}

/* project page */
.projectspage {
    background-color: rgba(165, 165, 141);
    margin-left: -8px;
    margin-right: -8px;
}

.featured {
    font-family: 'Ranchers', cursive;
    font-size: 30px;
}

.repo {
    font-size: 15px;
}

/* project page cards */
.cards {
    display: flex;
    flex-direction: column;
}

.card {
    padding-left:10px;
    padding-right: 10px;
    display:flex;
    flex-direction: row;
}



/* sections in cards */
section {
    height: 150vh;
    width: 100vw;
    position: sticky;
    top: -1px;
}



/* quizimg */
.quizappimg {
    float: left;
    width: 50px;
    height: 100px;
    margin: 0 auto;
}


/* quiz container */
.container1 {
    position: relative;
    height: 100px;
    width: 200px;
    overflow: hidden;
}

.moreworkbtn {
    font-family: 'Ranchers', cursive;
    font-size: 16px;
    width: 300px;
    text-align: center;
    align-self:center;
    border-radius: 4px;
    background-color: rgb(221, 190, 169);
    border: none;
    margin-top: 50px;
}


/* contactpage */

.contactpage  {
    background-color:rgb(221, 190, 169);
    margin-left: -8px;
    margin-bottom: -10px;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.textin {
    border: none;
    border-bottom: 2px solid rgb(183, 183, 164);
    background-color: rgb(240, 239, 235);
}

.submit {
    margin-top: 10px;
    background-color: rgb(193, 178, 155);
    border-radius: 10px;
    color:rgb(102, 89, 76);
}

/* lab bkgrd */
.labbackg {
    background-color:rgb(183, 183, 164);
}